@model IEnumerable<Customer>

@{
    ViewData["Title"] = "ListCustomers";
}

<h2>List of Customers</h2>

@foreach (var customer in Model) {
<div>
    <h3>@customer.Name, Kundnummer: @customer.CustomerId</h3>
    @foreach (var account in customer.CustomerAccounts)
    {
        if (account == null)
        {
            break;
        }
        <ul>
            <li>Account#: @account.AccountNumber, Balance: @account.Balance</li> 
        </ul>
    }
</div>
}

